@import <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>; 
@import <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>;

header {
    background-color: #D0D0D0;
    border: 1px black solid;
    padding: 20px;
}

ul{
    text-align: center;
    list-style-type: none;
}

img {
  display: block;
  margin: 0 auto;
  clear: both;
}


nav {
    background-color: #B8B8B8;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    display: right;
    border: .5% black solid;
    padding: 2%;
}

article {
    background-color: #E89C6C;
    border: 1% black solid;
    padding: 2%;
}

footer {
    background-color: #686868;
    border: 1px black solid;
    padding: 30px;
}

#logo {
  display: left;
  margin: 0 auto;
  clear: both;
  width: 20%;
}

#DonPic {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 80%;

}

section#two {
    background-color: grey;
    border: .5% black solid;
    padding: 10%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.toggle {
    padding: 2%
    float: left;
}

.button {
    padding: 5%;
}

