@import <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>; 
@import <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>;

body{
	background: grey;
	text-align: center;
	font-family: 'Righteous', cursive;
}

h1 {
	color: rgb(18,22,138);
	font-size: 38px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
}


header
{ 
	padding: 10px;
border: 0 0 5px 0 black solid;
}




p.button {
	font-size: 22px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
}

p.description {
	font-size: 16px;
	font-weight: normal;
	font-family: 'Titillium Web', sans-serif;
}

a{
	color: white;
	text-decoration: underline;
}
ul{
	text-align: center;
	list-style-type: none;
}

p.text{
	text-align: left;
	line-height: 1.5em
	font-weight: normal;
	margin: 2em;
}

#important
{
	text-align: center;
	font-family: 'Righteous', cursive;
	font-size: 14px
	font-weight: bold;
}

hr
{
	font-weight: bolder;
}

footer
{ 
	border-top: 10px white solid
}



white solid;
}