body{
	background: grey;
	text-align: center;
}
h1 {
	color: rgb(18,22,138);
	font-size: 38px;
	font-weight: bold;
}

#headline {
	font-size: 20px;
	font-weight: normal;
	font-family: "New Courier": sans-serif;
}
#importantline {
	font-size: 16px;
	font-weight: normal;
	font-family: Arial: monospace;
}

a{
	color: white;
	text-decoration: underline;
}
ul{
	text-align: center;
	list-style-type: none;
}

p.text{
	text-align: left;
}
