body{
	background: grey;
	text-align: center;
}

h1 {
	color: rgb(18,22,138);
	font-size: 38px;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

#headline {
	font-size: 22px;
	font-weight: normal;
}

#importantline {
	font-size: 16px;
	font-weight: normal;
}

a{
	color: white;
	text-decoration: underline;
}
ul{
	text-align: center;
	list-style-type: none;
}

p.text{
	text-align: left;
}
